{% extends "layout.html" %}
{% block body %}
    {% for city in potential_cities %}
        <form method="post" action="{% url 'results' %}" class="city-form">
            {% csrf_token %}
            <p>{{ city.name }}, located in {{ city.admin1 }} ({{ city.country }})</p>
            <input name="latitude" value="{{ city.latitude }}" hidden />
            <input name="longitude" value="{{ city.longitude }}" hidden />
            <button type="submit">View weather for this city</button>
        </form>
    {% endfor %}
{% endblock %}
