{% extends "layout.html" %}
{% load static %}
{% block body %}
    <h1>Enter latitude and longitude</h1>
    <form method="POST" action="{% url 'results' %}">
        {% csrf_token %}
        <label>Latitude</label>
        <input name="latitude" />
        <label>Longitude</label>
        <input name="longitude" />
        <button type="submit">Submit</button>
    </form>
    <h1>Or...</h1>
    <form method="POST" action="{% url 'city_list' %}">
        {% csrf_token %}
        <label>Search for a city</label>
        <input id="location" name="location" />
        <button id="search-city" type="submit">Submit</button>
    </form>
    <label>Recent Searches</label>
    <div id="recent-searches"></div>
    <script src="{% static 'js/manageRecentSearches.js' %}"></script>
{% endblock %}
