{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat"
              rel="stylesheet" />
        <link href="{% static 'css/layout.css' %}" rel="stylesheet" />
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'icos/apple-touch-icon.png' %}/apple-touch-icon.png">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'icos/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'icos/favicon-16x16.png' %}">
        <title>A basic weather app</title>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</html>
